<h2 class="page-header">Курс доллара на {{$ctrl.rates.date | date: 'dd/MM/yyyy @ HH:mm'}}</h2>
<div class="row">
    <div class="col-lg-4">
        <!--Side bar -->
        <div class="form-gorizontal">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск..." ng-model="$ctrl.query"/>
            </div>
            <div class="form-group">
                <label>Ограничить до:</label>
                <input type="text" class="form-control" ng-model="$ctrl.limit" />
            </div>
            <div class="form-group">
                <label>Сортировать:</label>
                <select class="form-control" ng-model="$ctrl.order">
                    <option value="currencies.USD.ask">Продажа</option>
                    <option value="currencies.USD.bid">Покупка</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <!--Body content-->

        <ul class="list-group" ng-repeat="org in $ctrl.rates.organizations | limitTo: $ctrl.limit | orderBy: $ctrl.order | filter: $ctrl.query ">
            <li class="list-group-item">
                <h3 class="text-center">{{org.title}}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-success">Покупка: &nbsp;{{org.currencies.USD.bid | currency:'&#8372;'}}</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-danger">Продажа:&nbsp;{{org.currencies.USD.ask | currency:'&#8372;'}}</h4>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>