<h2 class="page-header">История курса</h2>
<div class="row">
    <div class="form-group">
        <h2>{{$ctrl.bank}}</h2>
        <label>Выберите банк(обменник):</label>
        <select class="form-control" ng-model="$ctrl.bank">
            <option value="{{o.title}}" ng-repeat="o in $ctrl.orgs | unique: 'title'">{{o.title}}</option>
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Покупка</th>
                <th>Продажа</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="org in $ctrl.orgs | where : {title: $ctrl.bank}">
                <td>{{org.source.date | date: 'dd/MM/yy  HH:mm' }}</td>
                <td>{{org.bid}}</td>
                <td>{{org.ask}}</td>
            </tr>
        </tbody>
    </table>
</div>